<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
</head>
<body>
<form action="#" method="post">
        <p>
            <label for="question-setter-first-name"><b>Enter first name</b></label>
            <input id="question-setter-first-name" type="text" placeholder="Enter first name" name="question-setter-first-name" size=50 required>
        </p>

        <p>
            <label for="question-setter-last-name"><b>Enter last name</b></label>
            <input id="question-setter-last-name" type="text" placeholder="Enter first name" name="question-setter-last-name" size=50 required>
        </p>

        <p>
            <label for="question-setter-username"><b>Enter username</b></label>
            <input id="question-setter-username" type="text" placeholder="Enter username" name="question-setter-username" size=50 required>
        </p>

        <p>
            <label for="question-setter-email"><b>Enter email</b></label>
            <input id="question-setter-email" type="text" placeholder="Enter email" name="question-setter-email" size=50 required>
        </p>

        <p>
            <label for="question-setter-password"><b>Enter password</b></label>
            <input id="question-setter-password" type="password" placeholder="Enter password" name="question-setter-password" minlength="8" size=50 required>
        </p>

        <p>
            <label for="question-setter-confirm-password"><b>Confirm password</b></label>
            <input id="question-setter-confirm-password" type="password" placeholder="Confirm password" minlength="8" name="question-setter-confirm-password" size=50 required><br>
        </p>
        <input id="register-button" type="submit" name="signup-submit" value="Register">
</form>
</body>
</html>