{% extends "logged_in_base.html" %}
{% block title %}Play Quiz{% endblock %}


{% block content1 %}
    {% for question_number in range(number_of_questions) %}
        {% if questions[question_number].question_id in attempted_questions_list %}
             <a href="" class="list-group-item list-group-item-success" name="questionNo">Question {{question_number+1}}.</a>
        {% else %}
            <a href="" class="list-group-item list-group-item-action"  data-toggle="modal" data-target="#exampleModal{{question_number}}">Question {{question_number+1}}.</a>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{question_number}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Question {{question_number+1}}.</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    <div class="modal-body">
                        <form action="" method="POST">
                            <div class="form-group row">
                                <h4> {{questions[question_number].question}} </h4>
                            </div>
                            <fieldset class="form-group">
                            <div class="row">
                                <legend class="col-form-label col-sm-2 pt-0"><h6>Options</h6></legend>
                                    <div class="col-sm-10">
                                        <div class="input-group-prepend">
                                            <label> <input value="1" type="radio" name="selectedOption"> {{questions[question_number].first_option}} </label>
                                        </div><br>
                                        <div class="input-group-prepend">
                                            <label> <input value="2" type="radio" name="selectedOption"> {{questions[question_number].second_option}} </label>
                                        </div><br>
                                        <div class="input-group-prepend">
                                            <label> <input value="3" type="radio" name="selectedOption"> {{questions[question_number].third_option}} </label>
                                        </div><br>
                                        <div class="input-group-prepend">
                                            <label> <input value="4" type="radio" name="selectedOption"> {{questions[question_number].fourth_option}} </label>
                                        </div><br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-dismiss="modal" type="submit" value="Close">Close</button>
                                    <button class="btn btn-primary" type="submit" value="{{questions[question_number].question_id}}" id="submitAnswer" name="submitAnswer">Submit Answer</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}


