<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
</head>
<body>
    <h1>Enter your details for registrations</h1>

    <form>
        <p>
            <label for="new_username"><b>Enter username</b></label>
            <input id="new_username" type="text" placeholder="Enter username" name="new_username" required /><br>
        </p>

        <p>
            <label for="new_email"><b>Enter email</b></label>
            <input id="new_email" type="text" placeholder="Enter email" name="new_email" required><br>
        </p>

        <p>
            <label for="new_password"><b>Enter password</b></label>
            <input id="new_password" type="password" placeholder="Enter password" name="new_password" required><br>
        </p>

        <p>
            <label for="new_confirm_password"><b>Confirm password</b></label>
            <input id="new_confirm_password" type="password" placeholder="Confirm password" name="new_confirm_password" required><br>
        </p>

        <input id="register_button" type="submit" value="Register">
    </form>
</body>
</html>